<table class="table">
    <% property.forEach( function(model) { %>
        <tr><td><a href="http://localhost:1337/property/view/<%=model.id%>"><%=model.name%></a></td> 
        <td><%=model.locate%></td> 
        <td><td><%=model.area%>sq feet</td>
        <td>HK$ <%=model.rent%></td>  
        <td><a href="http://localhost:1337/user/removedeclare/<%=req.session.userid%>?pid=<%=model.id%>" onclick="return confirmOp()">Not Interested</a></td>  
        
    <% }); %>
</table>

<SCRIPT type="text/JavaScript">
	function confirmOp(){
		if(confirm("Confirm Delete?")){ 
			return true;
		} else {
			return false;
		}
	}
</SCRIPT>


