<table class="table">
    <% property.forEach( function(model) { %>
        <tr><td><a href="http://localhost:1337/property/view/<%=model.id%>"><%=model.name%></a></td> 
        <td><%=model.locate%></td> 
        <td><a href="http://localhost:1337/property/showintmember/<%=model.id%>">Interested Members</a></td>  
        <td><a href="http://localhost:1337/property/update/<%=model.id%>">Edit</a></td>
        <td><a href="http://localhost:1337/property/delete/<%=model.id%>" onclick="return confirmOp()">Delete</a></td>
    <% }); %>
</table>



<SCRIPT type="text/JavaScript">
	function confirmOp(){
		if(confirm("Confirm Delete?")){ 
			return true;
		} else {
			return false;
		}
	}
</SCRIPT>

